<h1>All tours</h1>

<ul>
  <% Category.all.each do |category| %>
  <li><%= link_to category.name, category_tours_path(category) %></li>
  <% end %>
</ul>

<ul>
  <% @tours.each do |tour| %>
  <li><%= link_to tour.title, tour %></li>
  <% end %>
</ul>
<%= link_to 'New Tour', new_tour_path %>
