<h1>All tours</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
  <% @tours.each do |tour| %>
    <tr>
      <td><%= link_to tour.title, tour %></td>
      <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
      <td><%= link_to 'Destroy', destroy_tour_path(tour), prompt: 'Are you sure?' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Tour', new_tour_path %>
